
header {
    align-items: center;
    padding: 20px;
    background-color: lightskyblue;
    color:white;
    
}
h1 {
    text-align: center;
}

nav a {
    color: white;
    padding: 20px;
}
main {
    gap: 20px;
    padding: 20px;
    margin: 50px;
}
nav {
    display:grid;
    grid-template-columns: 1fr;
    text-align:center;
    justify-items: center;
    
}
body{
    background-color: gray;
    font-size: 20px;
}
img {
    border-color: white;
    border-style: solid;
    border-width: 6px;
    display: block;
    margin: 20px auto;
    width: 300px;
    height: 300px;
    object-fit: cover;

}
.menu-btn {
    background-color: lightskyblue;
    border: none;
    color: white;
    font-size: 30px;
    text-align: center;
    display: block;
    margin: 0 auto;

}
.menu {
    font-style:none;
    display:none;
}

.menu {
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}

footer {
    background-color: lightskyblue;
    margin: 0;
    padding: 20px;
    text-align:center;
}


dialog img {
    width: 70%;
    height:50%;
    margin: 15vh auto;
    border: none;
    object-fit: contain;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}

.close-viewer {
    position: absolute;
    top: 12vh;
    right: 75px;
    padding: 3px 6px;
    font-size: 1.5em;
}

@media screen and (min-width: 800px) {
    .photos {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .menu {
        display: none;
    }
    .photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    dialog img {
        width: 80%;
        height:80%;
        margin: 15vh auto;
    }
}
@media screen and (min-width: 1200px) {
    .photos {
        grid-template-columns: 1fr 1fr 1fr;
    }
    dialog img {
        width: 80%;
        height:80%;
        margin: 15vh auto;
    }
    .close-viewer {
        position: absolute;
        right: 185px;
    }
    .viewer {
        margin: 50px;
        padding: 50px;
    }
    .viewer img {
        max-width: 800px;
    }
}


@media screen and (min-width: 1200px) {
    .photos {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu-btn {
        display: none;
    }
    .menu {
        display: block;
    }
    a {
        display: inline;
    }
    
}
